<%= render "shared/header" %>
<div class="container">
  <table class="table table-striped">
      <thead>
        <tr class="row">
          <th class="col">会員名</th>
          <th class="col">レッスン編集</th>
          <th class="col">メールアドレス</th>
        </tr>
      </thead>
    </table>
  <% @users.each do |user| %>
    <table class="table table-striped">
      <thead>
        <tr class="row">
          <th class="col">
            <%= user.last_name %> 
            <%= user.first_name %>
          </th>
          <th class="col"><%= link_to "レッスン編集", "/users/#{user.id}" %></th>
          <th class="col"><%= user.email %></th>
          
        </tr>
      </thead>
    </table>
  <% end %>
</div>
