<%= render "shared/header" %>
<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-md-12 text-center mb-2 mt-5">
      <h3><%= "#{@user.last_name}#{@user.first_name}さんのレッスン一覧" %></h3>
    </div>
    <% @progresses.zip(@lessons).each do |progress,lesson| %>
      <div class="col-md-4 text-center mt-2 mb-5">
        <h5><%= lesson.name %>
        <%= "達成率：#{progress["達成"]}%　" %>
        <%= link_to "編集する", "/users/#{@user.id}/lessons/#{lesson.id}/edit" %>
        </h5>
        <%= pie_chart progress, donut: true, suffix: "%" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
