<%= render "shared/header" %>
<div class="container-fluid bg-light">
  <div class="row">
    <h4 class="col mt-5 mb-2">
      <%= link_to "#{@user.last_name}#{@user.first_name}", "/users/#{@user.id}" %>
        さんのレッスンページ
    </h4>
    
  </div>
  <div class="row">
    <h3 class="col text-center">レッスン項目：<%= @lesson.name %>　<%= "達成率：#{@progress["達成"]}%　" %></h3>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <%= form_tag "/users/#{@user.id}/lessons/#{@lesson.id}", method: :post do %>
        <% EvaluationItem.where(lesson_id: @lesson.id).each do |evaluation_item| %>
          <% lesson_user = LessonUser.find_by(user_id: @user.id, lesson_id: @lesson.id, evaluation_item_id: evaluation_item.id) %>
          <% if lesson_user && lesson_user.lesson_check %>
            <div>
            <label>
            <%= evaluation_item.name %> <%= check_box_tag "lesson_check[#{evaluation_item.id}][]", lesson_user.lesson_check, lesson_user.lesson_check, {} %><br />
            </label>
            </div>
          <% else %>
            <div>
            <label><%= evaluation_item.name %> <%= check_box_tag "lesson_check[#{evaluation_item.id}][]" %><br />
            </label>
            </div>
          <% end %>
        <% end %>
        <input type="hidden" value=<%= @user.id %>>
        <input type="hidden" value=<%= @lesson.id %>>
        <%= submit_tag '更新' , class:"btn btn-primary btn-block my-4 w-50" %>
      <% end %>
    </div>
    <div class="col-md-6 d-flex align-items-flex-start">
      <%= pie_chart @progress, donut: true, suffix: "%", width: "100%", height: "50vh" %>
    </div>
  </div>
  <div class="row">
    <h5>他の項目を編集する</h5>
    <% @lessons.where.not(id: @lesson.id).each do |lesson| %>
      <h5>　<%= link_to lesson.name, "/users/#{@user.id}/lessons/#{lesson.id}/edit" %></h5>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>