<%= render "shared/header" %>
<div class="container">
    <div class="row">
      <% @progresses.zip(@lessons).each do |progress,lesson| %>
        <div class="col-md-4 text-center">
          <h5 class="col">
            <%= lesson.name %>
            <%= "達成率：#{progress["達成"]}%　
            " %>
            <%= link_to "詳細", "/users/#{current_user.id}/lessons/#{lesson.id}" %>
          </h5>
          <div class="col my-3">
            <%= pie_chart progress, donut: true, suffix: "%" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
<%= render "shared/footer" %>