<%= render "shared/header" %>
<div class="container-fluid bg-light">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h3>
          <%= "#{@user.last_name}#{@user.first_name}さんのレッスン一覧" %>
        </h3>
      </div>
      <% @progresses.zip(@lessons).each do |progress,lesson| %>
        <div class="col-md-4 text-center">
          <h5 class="col mt-5">
            <%= lesson.name %>
            <%= "達成率：#{progress["達成"]}%　
            " %>
            <%= link_to "詳細", "/users/#{current_user.id}/lessons/#{lesson.id}" %>
          </h5>
          <div class="col">
            <%= pie_chart progress, donut: true, suffix: "%" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
<%= render "shared/footer" %>