<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SwimyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/assets/signin.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
